---
layout: base.layout.njk
---
{# top-bar on scroll #}
<div id="progress" class="fixed top-0 left-0 w-full h-1 scrollbar"></div>
{# post container #}
<div class="w-full md:max-w-4xl mx-auto pt-20">
    <div class="w-full px-4 md:px-6 text-lg md:text-xl text-gray-800 leading-normal">
        {# post title #}
        <div class="flex flex-col">
            <a
                class="text-base md:text-md text-gray-600 font-bold no-underline hover:text-black"
                href="{{ '/blog/' | url }}"
            >
                &lt;  BACK TO RECENT POSTS
            </a>
            <h1 class="mt-8 mb-4 font-bold tracking-tight leading-tight text-gray-900 text-4xl md:text-6xl">
                {{ title }}
            </h1>
            <div class="w-full mb-16 flex justify-start">
                <p class="mr-8 text-base md:text-lg font-medium text-gray-700"> Published at
                    <time datetime="{{ date | htmlDateString }}">
                        {{ date | readableDate }}
                    </time>
                </p>
                <p class="font-semibold leading-tight text-gray-900">{{ content | readTime }} minutes read</p>
            </div>
        </div>
        <article class="prose lg:prose-xl">
            {{ content | safe }}
        </article>
        {# post tags #}
        <div class="text-base md:text-md text-gray-700 px-4 py-6 mt-4 flex flex-wrap">
            <p class="p-2">Tagged:</p>
            {% for tag in tags %}
                {%- if collections.tagList.indexOf(tag) != -1 -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a 
                        href="{{ tagUrl | url }}" 
                        class="mr-2 mb-2 p-2 font-semibold text-gray-900 bg-gray-200 hover:bg-gray-900 hover:text-gray-300 underline rounded-md"
                    >
                        #{{ tag }}
                    </a>
                {%- endif -%}
            {% endfor %}
        </div>

        <hr class="border-b-2 border-gray-400 mb-8 mx-auto"/>

        {# previous and next post links #}
        <div class=" flex flex-col md:flex-row justify-between content-center px-4 pb-12">
            {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
            <div class="text-left  mb-4">
                {%- if previousPost %}
                    <span class="text-xs md:text-md font-normal text-gray-600">
                        &lt; Previous Post
                    </span>
                    <br/>
                    <p>
                        <a
                            href="{{ previousPost.url | url }}"
                            class="break-normal text-base md:text-md text-gray-700 font-bold no-underline hover:underline"
                        >
                            {{ previousPost.data.title }}
                        </a>
                    </p>
                {% endif %}
            </div>
            {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
            <div class="text-right mb-4">
                {%- if nextPost %}
                    <span class="text-xs md:text-md font-normal text-gray-600">
                        Next Post &gt;
                    </span>
                    <br/>
                    <p>
                        <a
                            href="{{ nextPost.url | url }}"
                            class="break-normal text-base md:text-md text-gray-700 font-bold no-underline hover:underline"
                        >
                            {{ nextPost.data.title }}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>