---
layout: base.layout.njk
permalink: /about/
eleventyNavigation:
  key: About Me
  order: 4
---

<section 
    class="w-full md:max-w-4xl md:mx-auto mt-12 py-4 px-12 md:p-8 shadow-md rounded"
    style="min-height: 65vh;"
>
    <p class="text-lg md:text-xl">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam orci, volutpat sed luctus vel, egestas sed nulla. Pellentesque consequat tempor porttitor. Cras gravida porttitor odio sit amet auctor. Nunc auctor tristique augue, sed feugiat nibh pellentesque ut. Phasellus sit amet egestas orci, vel consectetur nulla. Praesent aliquam sodales finibus. Pellentesque interdum dapibus diam at aliquam. Nam libero mi, euismod eu ligula in, auctor facilisis dolor. Donec rutrum, sapien ut porta lacinia, erat lectus euismod lorem, ut dapibus est nulla quis erat. Sed in condimentum urna. Maecenas vitae mi sit amet velit faucibus placerat. Nullam ex ante, tristique id lobortis at, iaculis non neque. Quisque elementum porttitor luctus. Etiam aliquam eros eget lectus interdum accumsan. In ac malesuada est. Pellentesque ac neque a lorem lacinia convallis sed a turpis.
    </p>
</section>